* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}
body {
	background-color: #f9f9f9;
	overflow-x: hidden;
}
.header {
	width: 100vw;
	margin: 48px auto 15px;
	display: flex;
	height: 62px;
	align-items: center;
	padding: 0 50px;
}
.logo {
	margin-right: 100px;
	overflow-x: visible;
}
.header_menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	height: 100%;
}
.navigation {
	display: flex;
	flex-direction: row;
	width: 40%;
	justify-content: space-between;
}
.navigation > a {
	font-family: Inter;
	font-size: 17.83px;
	font-weight: 500;
	line-height: 26.74px;
	text-align: left;
	color: #606060;
}
.buttons {
	gap: 12px;
	height: 60px;
}
.buttons > button {
	padding: 0 23px;
	height: 100%;
	font-family: Inter;
	font-size: 17px;
	font-weight: 700;
	line-height: 26.74px;
	text-align: center;
	border-radius: 17px;
	cursor: pointer;
}
button:hover {
	opacity: 70%;
}
.white_btn {
	color: #606060;
	background-color: #f9f9f9;
	border: none;
}
.purple_btn {
	color: #f9f9f9;
	background: #6c5fbc;
	border: none;
}
hr {
	width: 92%;
	margin: 20px auto;
}
section {
	display: flex;
	padding: 50px;
}
.main_block {
	width: 100%;
	> img {
		width: 100%;
	}
}
.users {
	display: flex;
	flex-direction: row;
	align-items: center;
	opacity: 20%;
	font-family: Poppins;
	font-size: 15px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 2px;
	text-align: left;
	margin-bottom: 20px;
}
.line {
	width: 54px;
	height: 0px;
	border: 1px solid #201f1f;
	margin-right: 12px;
}
h1 {
	font-family: Poppins;
	font-size: 75px;
	font-weight: 600;
	line-height: 90px;
	letter-spacing: -3px;
	text-align: left;
	> span {
		color: #6c5fbc;
	}
}
.text {
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	text-align: justified;
	opacity: 70%;
	margin: 30px 0 40px;
}
.border {
	border: 1.5px solid #6c5fbc;
	margin-left: 20px;
}
.rating {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 20px;
	color: #606060;
	font-family: Poppins;
	line-height: 24px;
	font-weight: 500;
}
.stars {
	flex-direction: row;
}
.features {
	background: url(/assets/images/backgrounds/BG.png);
	width: 100%;
	height: 220px;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.vertical_line {
	height: 123px;
	width: 0;
	border: 1px solid #c5c5c5;
	opacity: 15%;
}
.features_item {
	width: 20%;
	margin: 40px;
	> h3 {
		font-family: Public Sans;
		font-size: 43.2px;
		font-weight: 700;
		line-height: 54px;
		text-align: center;
		color: #fff;
	}
	> p {
		font-family: Inter;
		font-size: 14.4px;
		font-weight: 500;
		line-height: 21.6px;
		text-align: center;
		color: #cbd5e1;
	}
}
.mobile {
	display: flex;
	flex-direction: row;
	margin: 70px;
	align-items: center;
}
.mobile_item {
	width: 100%;
	> h3 {
		font-size: 50.92px;
		font-weight: 700;
		line-height: 58.2px;
	}
	> p {
		font-family: Inter;
		font-size: 20.33px;
		font-weight: 400;
		line-height: 30.5px;
		text-align: left;
		color: #676767;
		margin: 30px 0;
		&::before {
			content: '•';
		}
	}
}
.arrow_block {
	position: relative;
	> button {
		display: flex;
		align-items: center;
		padding: 0 23px;
		height: 63px;
		font-family: Poppins;
		font-size: 18.06px;
		font-weight: 500;
		line-height: 22.58px;
		border-radius: 17px;
		cursor: pointer;
	}
	button:hover {
		opacity: 70%;
	}
	> img {
		position: absolute;
		left: 135px;
		bottom: -45px;
	}
}
.top_restaurants {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.view_all {
	align-self: flex-end;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 500;
	line-height: 45.18px;
	letter-spacing: -0.10000000149011612px;
	text-align: left;
	color: #acadb9;
	display: flex;
	align-items: center;
	cursor: pointer;
	margin: 15px 0 25px;
	> img {
		align-self: center;
		width: 15px;
		height: 15px;
	}
}
.restaurants_cards {
	margin: 50px;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 30px;
}
.restaurants_card {
	border-radius: 30px;
	border: 1.25px solid #f4f4f6;

	box-shadow: 5.95px 71.35px 35.67px 0px #e5e5e5b2;
	> img {
		width: 100%;
	}
}
.card_info {
	padding: 7px 20px;
	> h5 {
		font-family: Poppins;
		font-size: 25.79px;
		font-weight: 600;
		line-height: 41.9px;
		text-align: left;
	}
}
.ticket {
	color: #daa31a;
	background-color: #f7edd0;
	font-family: Poppins;
	font-size: 12.78px;
	font-weight: 400;
	line-height: 19.16px;
	text-align: left;
	display: inline;
	border-radius: 5.4px;
	padding: 2px 4px;
}
.red_ticket {
	background-color: #f7c5ba;
	color: #fb471d;
}
.about {
	margin-top: 7px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.time {
	font-family: Poppins;
	font-size: 19.34px;
	font-weight: 400;
	line-height: 25.79px;
	text-align: left;
	color: #8e97a6;
}
.rate {
	display: flex;
	align-items: center;
	color: #8e97a6;
	font-family: Poppins;
	font-size: 19.34px;
	font-weight: 400;
	line-height: 25.79px;
	text-align: left;
	margin-left: 17px;
}
.rating_info {
	display: flex;
	justify-content: space-between;
}
.dishes {
	display: flex;
	flex-direction: column;
	align-items: center;
}
h3 {
	font-family: Poppins;
	font-size: 45px;
	font-weight: 600;
	line-height: 25.56px;
	text-align: left;
	> span {
		color: #6c5fbc;
	}
}
.menu {
	margin: 120px 0 40px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
	gap: 10px;
}
.menu_item {
	background-color: #fff;
	border: 1.44px solid #f4f4f6;
	box-shadow: 6.85px 82.18px 41.09px 0px #e5e5e5b2;
	border-radius: 34.58px;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 12px;
	h5 {
		font-size: 23px;
	}
}
.like {
	position: absolute;
	top: 22px;
	right: 22px;
}
.buy_now {
	padding: 0 22px;
	display: flex;
	justify-content: space-between;
}
.price {
	font-family: Poppins;
	font-size: 25.94px;
	font-weight: 700;
	line-height: 40.34px;
	text-align: left;
	> span {
		font-size: 18.81px;
		opacity: 30%;
	}
}
.add_to_cart {
	background-color: #323142;
	color: #fff;
	width: 43.83px;
	height: 39.72px;
	border-radius: 8.93px;
	font-size: 45px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.add_to_cart:hover {
	opacity: 70%;
}
.green_ticket {
	background-color: rgba(51, 172, 100, 0.2);
	color: #309d5b;
}
.img_container {
	height: 60%;
}
.control {
	> div {
		width: 50%;
		margin: 15px;
		> h3 {
			font-size: 50.92px;
			font-weight: 700;
			line-height: 58.2px;
		}
	}
}
.card_block {
	margin: 50px 0;
}
.control_card {
	width: 60%;
	margin-bottom: 12px;
	height: 88.3px;
	border-radius: 12.04px;
	box-shadow: 0px 7.07px 10.1px 0px #4646461a;
	padding: 0 7px;
	display: flex;
}
.img_block {
	height: 83px;
	> img {
		height: 100%;
	}
}
.delivery_status {
	margin: 15px;
	display: flex;
	flex-direction: column;
	> h4 {
		font-family: Poppins;
		font-size: 19.06px;
		font-weight: 600;
		line-height: 26.69px;
		margin-bottom: 3px;
	}
	> span {
		font-family: Poppins;
		font-size: 12.04px;
		font-weight: 500;
		line-height: 16.86px;
		color: #323142;
		&.red {
			color: #f1534e;
		}
	}
}
.delivery_time {
	margin: 0 7px 17px auto;
	align-self: end;
	font-family: Poppins;
	font-size: 13.04px;
	font-weight: 500;
	line-height: 18.26px;
	color: #acadb9;
}
.purchases {
	border: 1.57px solid #edf2f7;
	border-radius: 25.13px;
	box-shadow: 20px 60px 27px #4646461a;
	padding: 40px;
	display: flex;
	width: 100%;
	flex-direction: column;
	background-color: #fff;
}
.select_date {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	> h4 {
		font-family: Poppins;
		font-size: 28.27px;
		font-weight: 800;
		line-height: 38.17px;
		letter-spacing: 0.3141176700592041px;
	}
	> select {
		font-family: Poppins;
		font-size: 18.85px;
		font-weight: 600;
		line-height: 28.27px;
		letter-spacing: 0.6282353401184082px;
		background-color: #fafafa;
		border: none;
		border-radius: 12.56px;
		padding: 4px;
		&:focus-visible {
			background-color: #eeededfb;
			outline: none;
		}
	}
}
.purchases_cards {
	margin-top: 45px;
}
.purchases_item {
	border: 1.57px solid #edf2f7;
	border-radius: 19px;
	margin-top: 20px;
	padding: 15px;
}
.img_container_small {
	display: flex;
	gap: 20px;
	> img {
		width: 50.26px;
		height: 50.26px;
		padding: 12px;
		border-radius: 50px;
		&.purple {
			background-color: #f4f0ff;
		}
		&.green {
			background-color: #f2fdf6;
		}
	}
}
.expense {
	> h4 {
		font-family: Poppins;
		font-size: 18.85px;
		font-weight: 800;
		line-height: 28.27px;
		letter-spacing: 0.6282353401184082px;
	}
	> span {
		font-family: Poppins;
		font-size: 15.71px;
		font-weight: 500;
		line-height: 23.56px;
		letter-spacing: 0.6282353401184082px;
		color: #a0aec0;
	}
}
.purchases_stats {
	display: flex;
	justify-content: space-between;
}
.summ {
	align-self: center;
	font-family: Poppins;
	font-size: 21.99px;
	font-weight: 800;
}
.graph {
	display: flex;
	width: 97%;
	height: 9.45px;
	margin: 15px auto;
	position: relative;
	> .purple_line {
		position: absolute;
		border: 5px solid;
		width: 100%;
		border-radius: 7px;
		border-color: #6b5fbc3d;
		z-index: 1;
		&.opacity {
			width: 67%;
			border-color: #6b5fbc;
		}
	}
	> .orange_line {
		position: absolute;
		border: 5px solid;
		width: 100%;
		border-radius: 7px;
		border-color: #fbac1858;
		z-index: 1;
		&.opacity {
			width: 55%;
			border-color: #fbad18;
		}
	}
}
.comments {
	flex-direction: column;
	align-items: center;
}
.slider {
	margin: 175px;
}
.sub {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: row;
	border-radius: 30px;
	background-color: #6b5fbc;
	margin-bottom: 250px;
}
.subitem1 {
	height: 100%;
	width: 40%;
	background-image: url(/assets/images/backgrounds/leftBG.svg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	> h2 {
		margin-left: 20px;
		color: #fff;
		font-family: Poppins;
		font-size: 70px;
		font-weight: 800;
		line-height: 105px;
		text-align: center;
	}
}
.subitem2 {
	height: 100%;
	width: 60%;
	background-image: url(/assets/images/backgrounds/rightBG.svg);
	position: relative;
	> img {
		position: absolute;
		right: 10%;
		bottom: -20%;
	}
}
form {
	width: 90%;
	height: 68px;
	position: relative;
	> input {
		position: absolute;
		height: 100%;
		width: 100%;
		border-radius: 14.23px;
		box-shadow: 0px 7.25px 45.33px 0px #0000001a;
		border: none;
		padding: 15px 20px;
		font-family: Poppins;
		font-size: 16.27px;
		font-weight: 400;
		line-height: 24.4px;
		letter-spacing: 0.03em;
		color: #878787;
		:focus-visible {
			outline: none;
			border: none;
		}
	}
	> button {
		z-index: 1;
		background-color: #6c5fbc;
		position: absolute;
		right: 10px;
		top: 6px;
		height: 53.44px;
		border-radius: 11.25px;
		color: #fff;
		border: none;
		padding: 3px 10px;
		cursor: pointer;
	}
}
footer {
	height: 345px;
	background-color: #eaeaea;
	padding: 0 50px;
	display: flex;
	flex-direction: column;
}
.info {
	height: 55%;
	padding: 60px 50px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
}
.contacts {
	height: 45%;
	padding: 40px 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.socials {
	> img {
		margin-left: 40px;
		cursor: pointer;
	}
}
.copyright {
	font-family: Inter;
	font-size: 17px;
	font-weight: 500;
	line-height: 25px;
	text-align: left;
	color: #999999;
}
.info_link {
	font-family: Inter;
	font-size: 17px;
	font-weight: 500;
	line-height: 25px;
	text-align: left;
	color: #999999;
	margin-left: 35px;
}
